

*{
    margin-top: 0;
    box-sizing: border-box;

    
}

.menu-link {
    margin-right:30px;
    padding: 20px;
   
}
nav{display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
    padding: 30px;

}